# Crimes in Chicago - Cleaning

## Importing Libraires

In [1]:
import pandas as pd
import numpy as np
import os

## URL for the database

https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2

## Importing and understanding the dataset

In [2]:
os.getcwd()

'/Users/oleoaraujo/Documents/GitHub/crimes-in-chicago'

In [3]:
crimes = pd.read_csv("/Users/oleoaraujo/Desktop/Crimes-in-Chicago/Crimes_-_2001_to_Present.csv")

In [4]:
crimes.shape

(7285365, 22)

In [5]:
pd.set_option('display.max_columns', None)
crimes.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,05,1168430.0,1850165.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
6,10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,05,1161628.0,1912157.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
7,10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,06,1159734.0,1889313.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
8,10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,03,1155536.0,1900515.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
9,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [6]:
crimes.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [7]:
crimes.nunique()

ID                      7285365
Case Number             7284904
Date                    2967157
Block                     61448
IUCR                        402
Primary Type                 36
Description                 534
Location Description        214
Arrest                        2
Domestic                      2
Beat                        304
District                     24
Ward                         50
Community Area               78
FBI Code                     26
X Coordinate              78792
Y Coordinate             130006
Year                         21
Updated On                 4007
Latitude                 875233
Longitude                874669
Location                 876447
dtype: int64

In [8]:
crimes.set_index("ID",inplace=True)

In [9]:
crimes.head(10)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,05,1168430.0,1850165.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,05,1161628.0,1912157.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,06,1159734.0,1889313.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,03,1155536.0,1900515.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [10]:
crimes.columns

Index(['Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate',
       'Year', 'Updated On', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

## Cleaning dataset

Droping 4 columns that are not useful for our analysis:
- IUCR, which is "Crime Reporting (IUCR) Codes" and is already explained by the "Primary Type" and "Description"
- FBI Code
- X coordinate
- Y coordinate

In [11]:
crimes.drop(columns=["IUCR", "FBI Code", "X Coordinate", "Y Coordinate"], inplace=True)

In [12]:
crimes.head(10)

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,
10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

Let's focuse only on the data from the past 5 years, meaning 2015-2020, therefore let's drop the rest:

In [13]:
crimes = crimes[crimes.Year>=2015]
crimes = crimes[crimes.Year<2021]

In [14]:
crimes.shape

(1541733, 17)

In [15]:
crimes.describe(include="all")

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
count,1541733,1541733,1541733,1541733,1541733,1535379,1541733,1541733,1.541733e+06,1.541732e+06,1.541702e+06,1.541732e+06,1.541733e+06,1541733,1.521192e+06,1.521192e+06,1521192
unique,1541546,702137,35135,35,492,192,2,2,NaN,NaN,NaN,NaN,NaN,3539,NaN,NaN,368492
top,HZ140230,01/01/2015 12:01:00 AM,001XX N STATE ST,THEFT,SIMPLE,STREET,False,False,NaN,NaN,NaN,NaN,NaN,02/10/2018 03:50:01 PM,NaN,NaN,"(41.883500187, -87.627876698)"
freq,6,187,5094,352089,168057,347634,1223135,1287168,NaN,NaN,NaN,NaN,NaN,729832,NaN,NaN,2738
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.143752e+03,1.120890e+01,2.315265e+01,3.691499e+01,2.017403e+03,NaN,4.184317e+01,-8.767079e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.946315e+02,6.939356e+00,1.394370e+01,2.143208e+01,1.665876e+00,NaN,8.622243e-02,5.925119e-02,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.110000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.015000e+03,NaN,3.661945e+01,-9.168657e+01,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.120000e+02,6.000000e+00,1.000000e+01,2.300000e+01,2.016000e+03,NaN,4.176829e+01,-8.771360e+01,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.024000e+03,1.000000e+01,2.400000e+01,3.200000e+01,2.017000e+03,NaN,4.186236e+01,-8.766434e+01,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.712000e+03,1.700000e+01,3.400000e+01,5.400000e+01,2.019000e+03,NaN,4.190495e+01,-8.762784e+01,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,2.020000e+03,NaN,4.202267e+01,-8.752453e+01,NaN

### Columns types

In [16]:
crimes.dtypes

Case Number              object
Date                     object
Block                    object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [17]:
# Define "Date" and "Updated on" columns as datetime type
crimes.Date = pd.to_datetime(crimes.Date)
crimes["Updated On"] = pd.to_datetime(crimes["Updated On"])

Transforming the "Arrest" column in integer with values 0 (for False) and 1 (for True):

In [18]:
crimes.Arrest = crimes.Arrest.astype("str")
crimes.Arrest = crimes.Arrest.str.replace("False","0")
crimes.Arrest = crimes.Arrest.str.replace("True","1")
crimes.Arrest = crimes.Arrest.astype("int")

Doing the same for the "Domestic" column:

In [19]:
crimes.Domestic = crimes.Domestic.astype("str")
crimes.Domestic = crimes.Domestic.str.replace("False","0")
crimes.Domestic = crimes.Domestic.str.replace("True","1")
crimes.Domestic = crimes.Domestic.astype("int")

In [20]:
crimes.dtypes

Case Number                     object
Date                    datetime64[ns]
Block                           object
Primary Type                    object
Description                     object
Location Description            object
Arrest                           int64
Domestic                         int64
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
Year                             int64
Updated On              datetime64[ns]
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

### Counting NaN values

In [21]:
crimes.isna().sum()

Case Number                 0
Date                        0
Block                       0
Primary Type                0
Description                 0
Location Description     6354
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       31
Community Area              1
Year                        0
Updated On                  0
Latitude                20541
Longitude               20541
Location                20541
dtype: int64

Since there's so few NaN values, let's leave it like that.

## Analyzing the result

In [22]:
crimes.describe(include="all", datetime_is_numeric=True)

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
count,1541733,1541733,1541733,1541733,1541733,1535379,1.541733e+06,1.541733e+06,1.541733e+06,1.541732e+06,1.541702e+06,1.541732e+06,1.541733e+06,1541733,1.521192e+06,1.521192e+06,1521192
unique,1541546,NaN,35135,35,492,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,368492
top,HZ140230,NaN,001XX N STATE ST,THEFT,SIMPLE,STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(41.883500187, -87.627876698)"
freq,6,NaN,5094,352089,168057,347634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2738
mean,NaN,2017-11-28 03:25:43.909412096,NaN,NaN,NaN,NaN,2.066493e-01,1.651161e-01,1.143752e+03,1.120890e+01,2.315265e+01,3.691499e+01,2.017403e+03,2018-09-28 06:37:50.018086144,4.184317e+01,-8.767079e+01,NaN
min,NaN,2015-01-01 00:00:00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.110000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.015000e+03,2015-08-17 15:03:40,3.661945e+01,-9.168657e+01,NaN
25%,NaN,2016-06-19 11:00:00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,6.120000e+02,6.000000e+00,1.000000e+01,2.300000e+01,2.016000e+03,2018-02-10 15:50:01,4.176829e+01,-8.771360e+01,NaN
50%,NaN,2017-11-15 19:16:00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.024000e+03,1.000000e+01,2.400000e+01,3.200000e+01,2.017000e+03,2018-02-10 15:50:01,4.186236e+01,-8.766434e+01,NaN
75%,NaN,2019-05-08 17:00:00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.712000e+03,1.700000e+01,3.400000e+01,5.400000e+01,2.019000e+03,2019-06-30 15:56:27,4.190495e+01,-8.762784e+01,NaN
max,NaN,2020-12-31 23:59:00,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,2.020000e+03,2021-03-03 15:47:36,4.202267e+01,-8.752453e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,4.049018e-01,3.712855e-01,6.946315e+02,6.939356e+00,1.394370e+01,2.143208e+01,1.665876e+00,NaN,8.622243e-02,5.925119e-02,NaN

## Saving the cleaned Dataset

In [23]:
crimes.to_csv("/Users/oleoaraujo/Desktop/Crimes-in-Chicago/Crimes_-_2015_to_2020.csv")