# Crimes in Chicago - Cleaning

## Importing Libraires

In [1]:
import pandas as pd
import numpy as np
import os

## URL for the database

https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2

## Importing and understanding the dataset

In [2]:
os.getcwd()

'/Users/oleoaraujo/Documents/GitHub/crimes-in-chicago'

In [3]:
crimes = pd.read_csv("/Users/oleoaraujo/Desktop/Crimes-in-Chicago/Crimes_-_2001_to_Present.csv")

In [4]:
crimes.shape

(7285365, 22)

In [5]:
pd.set_option('display.max_columns', None)
crimes.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,05,1168430.0,1850165.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
6,10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,05,1161628.0,1912157.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
7,10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,06,1159734.0,1889313.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
8,10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,03,1155536.0,1900515.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
9,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [6]:
crimes.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [7]:
crimes.nunique()

ID                      7285365
Case Number             7284904
Date                    2967157
Block                     61448
IUCR                        402
Primary Type                 36
Description                 534
Location Description        214
Arrest                        2
Domestic                      2
Beat                        304
District                     24
Ward                         50
Community Area               78
FBI Code                     26
X Coordinate              78792
Y Coordinate             130006
Year                         21
Updated On                 4007
Latitude                 875233
Longitude                874669
Location                 876447
dtype: int64

In [8]:
crimes.set_index("ID",inplace=True)

In [9]:
crimes.head(10)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,05,1168430.0,1850165.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,05,1161628.0,1912157.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,06,1159734.0,1889313.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,03,1155536.0,1900515.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [10]:
crimes.columns

Index(['Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate',
       'Year', 'Updated On', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

## Cleaning dataset

Droping 4 columns that are not useful for our analysis:
- IUCR, which is "Crime Reporting (IUCR) Codes" and is already explained by the "Primary Type" and "Description"
- FBI Code
- X coordinate
- Y coordinate

In [11]:
crimes.drop(columns=["IUCR", "FBI Code", "X Coordinate", "Y Coordinate"], inplace=True)

In [12]:
crimes.head(10)

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,
10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.0,12.0,61.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.0,29.0,25.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.0,35.0,21.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,614,6.0,21.0,71.0,2015,02/10/2018 03:50:01 PM,41.744379,-87.658431,"(41.744378879, -87.658430635)"
10224743,HY411629,09/04/2015 06:00:00 PM,021XX W CHURCHILL ST,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,False,False,1434,14.0,32.0,24.0,2015,02/10/2018 03:50:01 PM,41.914636,-87.681631,"(41.914635603, -87.681630909)"
10224744,HY411605,09/05/2015 01:00:00 PM,025XX W CERMAK RD,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,1034,10.0,25.0,31.0,2015,09/17/2015 11:37:18 AM,41.851989,-87.689219,"(41.851988885, -87.689219118)"
10224745,HY411654,09/05/2015 11:30:00 AM,031XX W WASHINGTON BLVD,ROBBERY,STRONGARM - NO WEAPON,STREET,False,True,1222,12.0,27.0,27.0,2015,02/10/2018 03:50:01 PM,41.882814,-87.704326,"(41.88281374, -87.704325717)"
11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN

Let's focuse only on the data from the past 5 years, meaning 2016-2020, therefore let's drop the rest:

In [13]:
crimes = crimes[crimes.Year>=2016]
crimes = crimes[crimes.Year<2021]

In [14]:
crimes.shape

(1277232, 17)

In [15]:
crimes.describe(include="all")

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
count,1277232,1277232,1277232,1277232,1277232,1271428,1277232,1277232,1.277232e+06,1.277231e+06,1.277203e+06,1.277231e+06,1.277232e+06,1277232,1.263290e+06,1.263290e+06,1263290
unique,1277072,589815,34700,35,491,190,2,2,NaN,NaN,NaN,NaN,NaN,3128,NaN,NaN,333826
top,HZ140230,01/01/2016 12:01:00 AM,001XX N STATE ST,THEFT,SIMPLE,STREET,False,False,NaN,NaN,NaN,NaN,NaN,02/10/2018 03:50:01 PM,NaN,NaN,"(41.883500187, -87.627876698)"
freq,6,168,4326,294745,140645,286880,1028622,1064540,NaN,NaN,NaN,NaN,NaN,487694,NaN,NaN,2248
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.143701e+03,1.120845e+01,2.322254e+01,3.677809e+01,2.017901e+03,NaN,4.184349e+01,-8.767053e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.954303e+02,6.947220e+00,1.397570e+01,2.143190e+01,1.380767e+00,NaN,8.629726e-02,5.910582e-02,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.110000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.016000e+03,NaN,3.661945e+01,-9.168657e+01,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.120000e+02,6.000000e+00,1.000000e+01,2.300000e+01,2.017000e+03,NaN,4.176853e+01,-8.771303e+01,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.024000e+03,1.000000e+01,2.400000e+01,3.200000e+01,2.018000e+03,NaN,4.186320e+01,-8.766405e+01,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.713000e+03,1.700000e+01,3.400000e+01,5.400000e+01,2.019000e+03,NaN,4.190510e+01,-8.762784e+01,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,2.020000e+03,NaN,4.202267e+01,-8.752453e+01,NaN

### Columns types

In [16]:
crimes.dtypes

Case Number              object
Date                     object
Block                    object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [17]:
# Define "Date" and "Updated on" columns as datetime type
crimes.Date = pd.to_datetime(crimes.Date)
crimes["Updated On"] = pd.to_datetime(crimes["Updated On"])

Transforming the "Arrest" column in integer with values 0 (for False) and 1 (for True):

In [18]:
crimes.Arrest = crimes.Arrest.astype("str")
crimes.Arrest = crimes.Arrest.str.replace("False","0")
crimes.Arrest = crimes.Arrest.str.replace("True","1")
crimes.Arrest = crimes.Arrest.astype("int")

Doing the same for the "Domestic" column:

In [19]:
crimes.Domestic = crimes.Domestic.astype("str")
crimes.Domestic = crimes.Domestic.str.replace("False","0")
crimes.Domestic = crimes.Domestic.str.replace("True","1")
crimes.Domestic = crimes.Domestic.astype("int")

In [20]:
crimes.dtypes

Case Number                     object
Date                    datetime64[ns]
Block                           object
Primary Type                    object
Description                     object
Location Description            object
Arrest                           int64
Domestic                         int64
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
Year                             int64
Updated On              datetime64[ns]
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

### Counting NaN values

In [21]:
crimes.isna().sum()

Case Number                 0
Date                        0
Block                       0
Primary Type                0
Description                 0
Location Description     5804
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       29
Community Area              1
Year                        0
Updated On                  0
Latitude                13942
Longitude               13942
Location                13942
dtype: int64

Since there's so few NaN values, let's leave it like that.

## Cleaning the Primary Types

In [32]:
print(crimes["Primary Type"].nunique())
list(crimes["Primary Type"].unique())

35

['THEFT',
 'DECEPTIVE PRACTICE',
 'OTHER OFFENSE',
 'MOTOR VEHICLE THEFT',
 'CRIM SEXUAL ASSAULT',
 'BURGLARY',
 'CRIMINAL DAMAGE',
 'ASSAULT',
 'OFFENSE INVOLVING CHILDREN',
 'BATTERY',
 'SEX OFFENSE',
 'CRIMINAL SEXUAL ASSAULT',
 'NARCOTICS',
 'WEAPONS VIOLATION',
 'ROBBERY',
 'CRIMINAL TRESPASS',
 'LIQUOR LAW VIOLATION',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'ARSON',
 'PROSTITUTION',
 'PUBLIC PEACE VIOLATION',
 'OBSCENITY',
 'STALKING',
 'KIDNAPPING',
 'NON-CRIMINAL',
 'INTIMIDATION',
 'CONCEALED CARRY LICENSE VIOLATION',
 'HOMICIDE',
 'GAMBLING',
 'NON-CRIMINAL (SUBJECT SPECIFIED)',
 'NON - CRIMINAL',
 'OTHER NARCOTIC VIOLATION',
 'PUBLIC INDECENCY',
 'HUMAN TRAFFICKING',
 'RITUALISM']

In [33]:
crimes["Primary Type"] = crimes["Primary Type"].str.split('(',expand=True)[0].str.strip()

In [37]:
crimes["Primary Type"] = crimes["Primary Type"].str.replace(" - ", "-").replace("CRIM SEXUAL ASSAULT", "CRIMINAL SEXUAL ASSAULT")

In [38]:
print(crimes["Primary Type"].nunique())
list(crimes["Primary Type"].unique())

32

['THEFT',
 'DECEPTIVE PRACTICE',
 'OTHER OFFENSE',
 'MOTOR VEHICLE THEFT',
 'CRIMINAL SEXUAL ASSAULT',
 'BURGLARY',
 'CRIMINAL DAMAGE',
 'ASSAULT',
 'OFFENSE INVOLVING CHILDREN',
 'BATTERY',
 'SEX OFFENSE',
 'NARCOTICS',
 'WEAPONS VIOLATION',
 'ROBBERY',
 'CRIMINAL TRESPASS',
 'LIQUOR LAW VIOLATION',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'ARSON',
 'PROSTITUTION',
 'PUBLIC PEACE VIOLATION',
 'OBSCENITY',
 'STALKING',
 'KIDNAPPING',
 'NON-CRIMINAL',
 'INTIMIDATION',
 'CONCEALED CARRY LICENSE VIOLATION',
 'HOMICIDE',
 'GAMBLING',
 'OTHER NARCOTIC VIOLATION',
 'PUBLIC INDECENCY',
 'HUMAN TRAFFICKING',
 'RITUALISM']

#### Proposal of new classification based on US Law Typology :
```
translation = {"CRIMINAL SEXUAL ASSAULT": "Felony", "CRIMINAL DAMAGE": "Felony", "HOMICIDE": "Felony",
               "HUMAN TRAFFICKING": "Felony", "KIDNAPPING": "Felony", "NARCOTICS": "Felony",
               "OFFENSE INVOLVING CHILDREN": "Felony", "PROSTITUTION": "Felony", "BURGLARY": "Felony",
               "ARSON": "Misdemeanor", "ASSAULT": "Misdemeanor", "BURGLARY": "Misdemeanor",
               "DECEPTIVE PRACTICE": "Misdemeanor","MOTOR VEHICLE THEFT": "Misdemeanor",
               "INTIMIDATION":"Misdemeanor","ROBBERY": "Misdemeanor","SEX OFFENSE": "Misdemeanor",
               "THEFT": "Misdemeanor","CRIMINAL TRESPASS": "Misdemeanor",
               "CONCEALED CARRY LICENSE VIOLATION": "Infraction",
               "OTHER NARCOTIC VIOLATION": "Infraction", "PUBLIC INDECENCY": "Infraction",
               "STALKING": "Infraction", "OBSCENITY": "Infraction", "LIQUOR LAW VIOLATION": "Infraction",
               "PUBLIC PEACE VIOLATION": "Infraction", "INTERFERENCE WITH PUBLIC OFFICER": "Infraction",
               "OTHER OFFENSE": "Infraction", "WEAPONS VIOLATION": "Infraction", "BATTERY": "Infraction"}
```

In [56]:
def translation(value):
    if value in ["CRIMINAL SEXUAL ASSAULT", "CRIMINAL DAMAGE", "HOMICIDE", "HUMAN TRAFFICKING", "KIDNAPPING",
                 "NARCOTICS", "OFFENSE INVOLVING CHILDREN", "PROSTITUTION", "BURGLARY"]:
        return "FELONY"
    
    elif value in ["ARSON", "ASSAULT", "BURGLARY","DECEPTIVE PRACTICE","MOTOR VEHICLE THEFT", "INTIMIDATION",
               "ROBBERY","SEX OFFENSE", "THEFT", "CRIMINAL TRESPASS"]:
        return "MISDEMEANOR"
    
    elif value in  ["CONCEALED CARRY LICENSE VIOLATION","OTHER NARCOTIC VIOLATION", "PUBLIC INDECENCY",
               "STALKING", "OBSCENITY", "LIQUOR LAW VIOLATION", "PUBLIC PEACE VIOLATION",
                "INTERFERENCE WITH PUBLIC OFFICER", "OTHER OFFENSE", "WEAPONS VIOLATION", "BATTERY"]:
        return "INFRACTION"

    elif value in ["RITUALISM", "GAMBLING"]:
        return "OTHER"
    
crimes["Crime_Type"] = list(map(translation,crimes["Primary Type"]))

<ipython-input-56-34faebd0431d>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes["Crime_Type"] = list(map(translation,crimes["Primary Type"]))

In [59]:
crimes["Crime_Type"].value_counts()

MISDEMEANOR    626741
INFRACTION     365546
FELONY         284058
OTHER             749
Name: Crime_Type, dtype: int64

In [60]:
crimes.columns

Index(['Case Number', 'Date', 'Block', 'Crime_Type', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [61]:
crimes = crimes[['Case Number', 'Date', 'Block', 'Crime_Type', 'Primary Type', 'Description',
                'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area',
                 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location']]
crimes.head()

,Case Number,Date,Block,Crime_Type,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,
11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,MISDEMEANOR,THEFT,OVER $500,RESIDENCE,0,1,631,6.0,8.0,44.0,2018,2019-04-06 16:04:43,NaN,NaN,NaN
11645836,JC212333,2016-05-01 00:25:00,055XX S ROCKWELL ST,MISDEMEANOR,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,0,0,824,8.0,15.0,63.0,2016,2019-04-06 16:04:43,NaN,NaN,NaN
12014684,JD189901,2020-03-17 21:30:00,039XX N LECLAIRE AVE,MISDEMEANOR,THEFT,$500 AND UNDER,STREET,0,0,1634,16.0,45.0,15.0,2020,2020-03-25 15:45:43,41.952052,-87.754660,"(41.952051946, -87.754660372)"
11645648,JC212959,2018-01-01 08:00:00,024XX N MONITOR AVE,MISDEMEANOR,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,0,0,2515,25.0,30.0,19.0,2018,2019-04-06 16:04:43,NaN,NaN,NaN
11864018,JC476123,2019-09-24 08:00:00,022XX S MICHIGAN AVE,MISDEMEANOR,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,0,0,132,1.0,3.0,33.0,2019,2019-10-20 15:56:02,41.852248,-87.623786,"(41.852248185, -87.623786256)"

## Analyzing the result

In [63]:
crimes.describe(include="all", datetime_is_numeric=True)

,Case Number,Date,Block,Crime_Type,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Latitude,Longitude,Location
count,1277232,1277232,1277232,1277094,1277232,1277232,1271428,1.277232e+06,1.277232e+06,1.277232e+06,1.277231e+06,1.277203e+06,1.277231e+06,1.277232e+06,1277232,1.263290e+06,1.263290e+06,1263290
unique,1277072,NaN,34700,4,32,491,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333826
top,HZ140230,NaN,001XX N STATE ST,MISDEMEANOR,THEFT,SIMPLE,STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(41.883500187, -87.627876698)"
freq,6,NaN,4326,626741,294745,140645,286880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2248
mean,NaN,2018-05-28 18:20:46.199399680,NaN,NaN,NaN,NaN,NaN,1.946475e-01,1.665257e-01,1.143701e+03,1.120845e+01,2.322254e+01,3.677809e+01,2.017901e+03,2018-11-25 08:58:54.400525824,4.184349e+01,-8.767053e+01,NaN
min,NaN,2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.110000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.016000e+03,2016-01-10 08:46:55,3.661945e+01,-9.168657e+01,NaN
25%,NaN,2017-03-13 19:23:00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,6.120000e+02,6.000000e+00,1.000000e+01,2.300000e+01,2.017000e+03,2018-02-10 15:50:01,4.176853e+01,-8.771303e+01,NaN
50%,NaN,2018-05-26 19:40:00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.024000e+03,1.000000e+01,2.400000e+01,3.200000e+01,2.018000e+03,2018-06-17 15:50:56,4.186320e+01,-8.766405e+01,NaN
75%,NaN,2019-07-31 19:03:15,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.713000e+03,1.700000e+01,3.400000e+01,5.400000e+01,2.019000e+03,2019-08-21 16:26:07,4.190510e+01,-8.762784e+01,NaN
max,NaN,2020-12-31 23:59:00,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,2.020000e+03,2021-03-03 15:47:36,4.202267e+01,-8.752453e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.959292e-01,3.725520e-01,6.954303e+02,6.947220e+00,1.397570e+01,2.143190e+01,1.380767e+00,NaN,8.629726e-02,5.910582e-02,NaN

## Saving the cleaned Dataset

In [62]:
crimes.to_csv("/Users/oleoaraujo/Desktop/Crimes-in-Chicago/Crimes_-_2016_to_2020.csv")